name: Deploy Front Production

on:
  push:
    branches: ['main']

jobs:
  deploy:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v2

      - name: Cache modules
        uses: actions/cache@v1
        id: yarn-cache
        with:
          path: node_modules
          key: ${{ runner.os }}-yarn-${{ hashFiles('**/yarn.lock') }}
          restore-keys: ${{ runner.os }}-yarn-

      - name: Configure AWS credentials
        uses: aws-actions/configure-aws-credentials@v1
        with:
          aws-access-key-id: ${{ secrets.AWS_ACCESS_KEY_ID }}
          aws-secret-access-key: ${{ secrets.AWS_SECRET_ACCESS_KEY }}
          aws-region: "ap-northeast-2"

      - name: Setup Node.js environment
        uses: actions/setup-node@v3
        with:
          node-version: 20

      - name: Run a multi-line script
        run: |
          yarn
          yarn db-generate
          yarn build
        env:
          VITE_CLIENT_DOMAIN_PROD: ${{ vars.VITE_CLIENT_DOMAIN_PROD }}
          VITE_CLIENT_DOMAIN_DEV: http://localhost:5173
          VITE_SERVER_URI_PROD: ${{ vars.VITE_SERVER_URI_PROD }}
          VITE_SERVER_URI_DEV: http://localhost:3000
          VITE_KAKAO_JAVASCRIPT_API_KEY: ${{ secrets.VITE_KAKAO_JAVASCRIPT_API_KEY }}
          VITE_KAKAO_REST_API_KEY: ${{ secrets.VITE_KAKAO_JAVASCRIPT_API_KEY }}
          VITE_GA_ID: ${{ vars.VITE_GA_ID }}
      
      - name: Deploy
        run: |
          aws s3 rm s3://${{ secrets.AWS_BUCKET_FRONT }} --recursive
          aws s3 sync ./dist s3://${{ secrets.AWS_BUCKET_FRONT }}

      - name: Invalidate CloudFront
        uses: chetan/invalidate-cloudfront-action@v2
        env:
          DISTRIBUTION: ${{ secrets.DISTRIBUTION_FRONT }}
          PATHS: "/*"
          AWS_REGION: "ap-northeast-2"
          AWS_ACCESS_KEY_ID: ${{ secrets.AWS_ACCESS_KEY_ID }}
          AWS_SECRET_ACCESS_KEY: ${{ secrets.AWS_SECRET_ACCESS_KEY }}